/*colors
* #F26E55 damasco
* #2B313D oscuro
* #4bceb4 celeste
*/
html,body{ 
  height:100%;
  width:100%;
  margin: 0px;
  padding: 
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}





.page {
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*ESTILOS WORK*/
.work {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  height: auto;
}



 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100vh;
      margin: auto;

  }

/*esta clase es para eliminar el fondo trasludido detras del carousel*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}


.bajo{
 position: relative;
}
#sobre, #sobre2, #sobre3, #sobre4 {
 position:absolute;
width: 230px;
 top:178px;
 left:80px;
 border:none;
     padding: 0;
    margin: 0;
  
}

img .imagenproyecto .{
  width: 130px;
}

 #container-description {
 position:absolute;
 top:218px;
 left:310px;
 right: 5em;
 border:none;
     padding: 0;
    margin: 0; 
}

h1{
  margin-left: 1em;
}

a{
  margin-left: 1em;
}

.caraous-title {
  position: absolute;
  left: 25px;
  right: auto;
}

.description{
  margin-top:-5em;
}

.card-text{
  margin-left: 1em;
}


/*esta clase es para eliminar el fondo trasludido detras del carousel*/
.carousel-control.left, .carousel-control.right {
background-image: none
}


@media (max-width: 1024px) {
    #sobre, #sobre2, #sobre3, #sobre4 {
        width: 340px;
    top: 290px;
    left: 120px;
    }
     .card-text{
     margin-left: 5.5em;
    font-size: 30px;
    }
     h1{
          font-size: 58px;
    margin-left: 4em;
    margin-top: 2em;
    }
    .container-links{
    text-align: center;
  margin-left: 6em;
    font-size: 20px;
}

}


@media (max-width: 768px) {
    #sobre, #sobre2, #sobre3, #sobre4 {
      width: 260px;
      top: 200px;
      left: 90px;
    }
     .card-text{
         
    margin-left: 3.5em;
    font-size: 20px;
    }
     h1{
           font-size: 40px;
    margin-left: 3.5em;
    margin-top: 1em;
    align-items: center;
    }
  .container-links{
    text-align: center;
  margin-left: 6em;
    font-size: 20px;
}
}

@media (max-width: 425px) {
    #sobre, #sobre2, #sobre3, #sobre4 {
        width: 150px;
        top: 110px;
        left: 70px;
    }
     .card-text{
      display: none;
    }
    h1{
    font-size: 30px;
    margin-left: -2em;
    margin-top: -3.5em;
    }
       .container-links{
  margin-left: -5em;
}
}

@media (max-width: 375px) {
    #sobre, #sobre2, #sobre3, #sobre4 {
        width: 130px;
        top: 97px;
        left: 70px;
    }
     .card-text{
      display: none;
    }
    h1{
    font-size: 30px;
    margin-left: -3em;
    margin-top: -3.5em;
    }
       .container-links{
  margin-left: -7em;
}
}



@media (max-width: 360px) {
    #sobre, #sobre2, #sobre3, #sobre4 {
            width: 130px;
            top: 96px;
            left: 60px;
    }
     .card-text{
      display: none;
    }
    h1{
    font-size: 30px;
    margin-left: -3em;
    margin-top: -3.5em;
    }
    .container-links{
  margin-left: -7em;
}

}

@media (max-width: 320px) {
    #sobre, #sobre2, #sobre3, #sobre4 {
            width: 120px;
            top: 85px;
            left: 60px;
    }
    .card-text{
      display: none;
    }
    h1{
    font-size: 20px;
    margin-left: -6em;
    margin-top: -5.5em;
    }
  .container-links{
        text-align: center;
    font-size: 15px;
    margin-left: -10.5em;
}
  
}


