/*colors
* #F26E55 damasco
* #2B313D oscuro
* #4bceb4 celeste
*/

html,body{ 
  height:100%;
  width:100%;
  margin: 0px;
  padding: 
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #F26E55;
}

section {
/* Ubicación de la imagen */
background-image: url(../img/fondo33.png);
/* Para dejar la imagen de fondo centrada, vertical y
horizontalmente */
background-position: center center;
/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;
/* Se muestra un color de fondo mientras se está cargando la imagen
de fondo o si hay problemas para cargarla */
background-color: #669999;
height: 100vh;
}


.heart{
  width: 20px;
  height: 20px;
}
footer{
  width: 100%;
  height: auto;
  background-color: #2B313D;
  position: fixed;
  bottom: 0;
  left: 0;
}

.icons-heart{
   padding-top: 1em;
   padding-bottom: 1em;
}


/*ESTILOS WORK*/
.work {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  height: auto;
}



 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;

  }

/*esta clase es para eliminar el fondo trasludido detras del carousel*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.btn {
  font-family: 'Press Start 2P', cursive;
  width: 13em;
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
  border-color: #4bceb4;
  color: #F26E55;
  opacity: 1;
  /*background-color:rebeccapurple ;*/
  background-color:#000 ;
}

button#btnmenu{
border-width: 2px;

}

div.item.active{
  background-color: black;
  border: 3px solid #4CAF50;

}
.carousel{
  margin-top: 1em;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;

  }

  .carousel-caption{
    /*background-color:rgba(255,0,0,0.3)*/
    background-color: #000;
  }

#menu-container{
  margin-top: 2em;
  width: 13em;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
}

.menu{
  margin-top: 1em;
}

ul li a {
  background-color: transparent !important;
}
ul.dropdown-menu{
  background-color: transparent;
}

/*esta clase es para eliminar el fondo trasludido detras del carousel*/
.carousel-control.left, .carousel-control.right {
background-image: none
}


@media (max-width: 768px) {
    .carousel {
        margin-top: 6em;
    }
}