html,body{ 
  height:100%;
  width:100%;
  margin: 0px;
  padding: 
}

*{
  font-family: 'Press Start 2P', cursive;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


 #container-description {
 position:absolute;
 top:218px;
 left:310px;
 border:none;
     padding: 0;
    margin: 0;
  
}

.camilu {
  background: url(../img/cami11.png) no-repeat;
    height: 230px;
    width: 168px;  
  margin-left: auto;
  margin-right: auto; 
 
}

.texto{
  border-color: 1px solid white;
  margin-top: 10em;
  background-color: #000;
  display: flex;
align-items: flex-end;

    border: 1px solid #4CAF50;
}

.btn {
  margin-top: 2em;
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
  border-color: #66615B;
  color: #FFFFFF;
  opacity: 1;
  
}



section{
   background: url(../img/fondo33.png) no-repeat;
}

.pageabout {
  
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin:auto;
  justify-content: center;
}

.modal-content{
  background-color: red !important;
}

@media (min-width: 1024px) {
    .texto{
          margin-top: 15em;
    margin-left: 4em;
    width: 700px;
    }
    .btn{
      margin-left: 5em;
    }
  
}


@media (max-width: 768px) {
    .texto{
      margin-top: 15em;
    margin-left: -7em;
    width: 400px;
    }
  
}

@media (max-width: 375px) {
    .texto{
      margin-top:3em;
    }
  
}


@media (max-width: 320px) {
    .texto{
      margin-top:1em;
    }
    .btn{
      margin-top: 1em;
    }
  
}