/*colors
* #FDF9F8 rosado extra claro
* #FDF1F0 rosado claro
* #F26E55 damasco
* #2B313D oscuro
* #4bceb4 celeste
*/

*{
	font-family: 'Press Start 2P', cursive;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


.all{
	/*background-image: url(../img/gif-fondo/f9df0ccaab2d631e9183d7bc7cab8e5b.gif);*/
	background-attachment: fixed;
	background-color: #000;
}

.header-container{
	/*background-color: #6259AB;*/
	background-color: #383838;
	position: fixed;
	z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
   
}


ul.list-navbar{
	list-style: none;
}

li{
	display: inline-block;
}

.navbar-option{
	display: flex;
	justify-content: space-around;
	color: #4bceb4;
	padding: 0.8em;
	cursor: pointer;
}

a:hover{
	color: #F26E55;
}


a.navbar-option{
	font-weight: bolder;
	font-size: 20px;
	text-decoration: none;
}



.presentation{
	width: auto;
	padding-bottom: 8em;
	padding-top: 4em;
	outline: none;
}

.name-container{
	display: flex;
	justify-content: center;
	padding-top: 6em;
}

p.name{
	font-size: 40px;
	font-weight: bolder;
	color: #F7F7F7;
	
}


 hr { 
   border-top: 3px solid #4bceb4; 
   border-bottom: 2px dashed #4bceb4; 
   border-left:none; 
   border-right:none; 
   height: 6px; 
   margin-left: auto;
   margin-right: auto;

 } 

.subtitle-container{
	display: flex;
	justify-content: center;
}


h4.subtitle{
	font-size: 20px;
	color: #F7F7F7;
	/*text-shadow: 0.2em 0.2em #E66652;*/
	padding-top: 1em;
	padding-bottom: 1em;
}



.work{
	height: 	;
	width: 100%;
	outline: none;
	/*background-color: #2B313D;*/
}

.works{
	width: 200px;
}


.mySlides{
	width: 100%;
}

.mini-img-work{
	width: 100%;
}


.contact{
	width: auto;
	height: auto;
	outline: none;
	/*background-color: white;*/
}

h2{
	color: #4bceb4;
}

footer{
	width: 100%;
	height: auto;
	background-color: #2B313D;
}

.icons-heart{
   padding-top: 1em;
   padding-bottom: 1em;
}

.fa-github, .fa-linkedin{
	font-size:3em;
	color: #4bceb4;	
	cursor: pointer;
}

.form-container{
	    margin-top: 10em;
    margin-bottom: 10em;
}

.icon-container{
	margin-bottom: 3em;
}

.icon{
	display: flex;
	justify-content:center;
	cursor: pointer;
}

.pc-image-container{
	display: flex;
	justify-content: center;
	align-items:center;
}

.camilu {
  background: url(../img/me.png) no-repeat;
    height: 250px;
    width: 168px; 
}

.skill{
	width: 100px;
}

.skill-container, .principal-work{
	/*padding: 1em;*/
	/*border: 5px solid #fff;*/
	background-color: #000;
	margin-top:1em;
}

.select-skill{
	margin-top: 18em;
	padding: 1em;
	/*border: 5px solid #fff;*/
	background-color: #000;
}

.mini-img-work{
	width: 150px;
	margin: 1em;
}

.description{
	text-align: justify;
    text-justify: inter-word;
}

/* estilos about me */
.about-me{
	margin-bottom: 4em;
	outline: none;
	/*background-color: #F26E55;*/
}

.container-text{
	margin-top: 6em;
	height: 100%;
}

.btn:hover {
	background-color: #3e8e41;
	outline: none;
	outline-offset: 0;

}

.btn {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
 
  color: #fff;
  background-color: #4CAF50;
  border-radius: 50px;
  box-shadow: 0 9px #999;
  margin-bottom: 1em;
}

.presentation{
height: 100vh;
}
.work{
	height: 100vh;
	/*eliminar despues*/
}



.btn:active {
outline: none;
  outline-offset: none;
  color: white;
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

.skillList{
	color: #FFF;
	margin-top:1.5em;

}
.sword{
	display: flex;
	justify-content: center;
	width:10em;
}


/* estilos contact me*/


.icono-redsocial{
	width: 70px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}


/* estilos del footer*/
.dog{
	background: url(../img/dog.png) no-repeat;
	height: 100px;
	width: 100px;
	margin-left: 2em;
}

.dog:hover{
	background: url(../img/dog2.png) no-repeat;
	height: 100px;
	width: 100px;
	margin-left: 2em;
}
.heart{
	width: 20px;
	height: 20px;
}


/* estilos de scroll */
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background: #4bceb4; 
}

@media (min-width: 1024px) {
	.sword{
		
		margin-top: 1.5em;
	}
	.skillList p{
		font-size: 20px;
	}
	.skill-container{
	}
	.btn{
		font-size: 30px;
	}
}


@media (max-width: 768px) {
    p.name {
        font-size: 40px;
    }
    a.navbar-option{
	font-size: 15px;
    }
	.sword{
		width: 8em;
		margin-top: 1.5em;
	}
	.skillList p{
		font-size: 15px;
	}
}

@media (max-width: 414px) {
    p.name {
        font-size: 22px;
    }
    a.navbar-option{
	font-size: 6px;
}
	h4.subtitle {
		font-size: 10px;
	}
	.pc-image {
		width: 300px;
	}
	.name-container{
		padding-top: 1em;
	}
	.sword{
		width: 4em;
		margin-top: 2em;
	}
	.skillList p{
		font-size: 8px;
	}
}




@media (max-width: 320px) {
    p.name {
        font-size: 18px;
    }
    a.navbar-option{
	font-size: 5px;
}
	.form-container{
		width: auto;
	}
	.name-container{
		padding-top: 1em;
	}
	.sword{
		width: 4em;
		margin-top: 2em;
	}
	.skillList p{
		font-size: 8px;
	}
	.btn{

		font-size: 20px;
	}
}
